/*--------------------------------------------------------------
  Common
--------------------------------------------------------------*/
html {

}

body {
  background: #fff;
  font: 400 12px "ヒラギノ角ゴ ProN";
  color: #121212;
}

img {
  max-width: 100%;
  height: auto;
}

/* Transition elsements */


/* Reset box-shadow */


/* Reset border-radius */


/* Sections */


/* Module header */


/* Sections dividers */


/* Half-image */


/* Dark background */


/* Vertical margin, padding */


/* Scroll to top */


/* Video */


/* Landing Page */


/*--------------------------------------------------------------
  Buttons
--------------------------------------------------------------*/
.btn {
  border-radius: 0;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 8px 37px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.btn.btn-round {
  border-radius: 2px;
}

.btn.btn-circle {
  border-radius: 30px;
}

.btn.btn-w {
  background: rgba(255, 255, 255, 0.8);
  color: #111;
}

.btn.btn-w:hover,
.btn.btn-w:focus {
  background: white;
  color: #111;
}

.btn.btn-g {
  background: #e5e5e5;
  color: #111;
}

.btn.btn-g:hover,
.btn.btn-g:focus {
  background: #d8d8d8;
  color: #111;
}

.btn.btn-border-w {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.75);
  color: #fff;
}

.btn.btn-border-w:hover,
.btn.btn-border-w:focus {
  background: #fff;
  border-color: transparent;
  color: #111;
}

.btn.btn-d {
  background: rgba(17, 17, 17, 0.8);
  color: #fff;
}

.btn.btn-d:hover,
.btn.btn-d:focus {
  background: #111111;
}

.btn.btn-b {
  background: #111111;
  color: #fff;
}

.btn.btn-b:hover,
.btn.btn-b:focus {
  background: rgba(17, 17, 17, 0.8);
}

.btn-border-d {
  background: transparent;
  border: 1px solid #111111;
  color: #111;
}

.btn.btn-border-d:hover,
.btn.btn-border-d:focus {
  background: #111111;
  color: #fff;
}

.btn.btn-font-w {
  background: rgba(255, 255, 255, 0.8);
  color: #fff;
}

.btn.btn-font-w:hover {
  background: #fff;
  color: #111;
}

/* Buttons size */
.btn.btn-lg {
  padding: 12px 45px;
  font-size: 13px;
}

.btn.btn-sm {
  padding: 6px 25px;
  font-size: 10px;
  letter-spacing: 1px;
}

.btn.btn-xs {
  padding: 4px 19px;
  font-size: 10px;
  letter-spacing: 0;
}

.btn-list .btn {
  margin: 5px 0;
}

.search-btn {
  position: absolute;
  background: transparent;
  border: none;
  overflow: hidden;
  top: 50%;
  right: 1px;
  width: 42px;
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  outline: none;
  color: #999;
  margin-top: -20px;
}

.image-button {
  margin: 0px 5px;
}

/*--------------------------------------------------------------
  Forms
--------------------------------------------------------------*/
/* Selection */


/* Forms common style */


/* Forms size */


/*--------------------------------------------------------------
  Typography
--------------------------------------------------------------*/


/* Restaurant module header */


/* Finance case study header */


/* Landing Page */


/*  Special Portfolio Page  */


/*--------------------------------------------------------------
  Slider & Carousel
--------------------------------------------------------------*/
/* -------------------------------------------------------------------
General Styles - FlexSlider
------------------------------------------------------------------- */


/* -------------------------------------------------------------------
Hero Slider
------------------------------------------------------------------- */


/* Caption */


/*
Photography Page Slider
*/


/* -------------------------------------------------------------------
General Styles - Owlcarousel
------------------------------------------------------------------- */


/*--------------------------------------------------------------
  Preloader
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Navbar
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Header
--------------------------------------------------------------*/


/* Agency Page Header */


/* About us Page Header */


/* Service Page Header */


/* Pricing Page Header */


/* Gallery Page Header */


/* Contact Page Header */


/* FAQ Page Header */


/* Blog Page Header */


/* Restaurant menu Page Header */


/* Portfolio Page Header */


/* Landing Page Header */


/*--------------------------------------------------------------
  Footer
--------------------------------------------------------------*/


/* -------------------------------------------------------------
Google map
------------------------------------------------------------- */


/*--------------------------------------------------------------
  Services & Features
--------------------------------------------------------------*/


/* Content box */


/*--------------------------------------------------------------
  Team
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Restaurant Menu
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Price Table
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Fun fact
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Video Box
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  レンタル会議室（works-grid）
--------------------------------------------------------------*/
h1{
  text-align: center;
  font-size: 25px;
}

p{
  text-align: center;
  font-size: 18px;
}
img{
  height: 381px;
  width: 632.33px;
  margin-left: 5px;
}

.img{
  display: flex;
}

/* Portfolio filter */


/* works grid */


/*--------------------------------------------------------------
  work details
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Call to action
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Testimonial
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Gallery
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Blog Post
--------------------------------------------------------------*/


/* Post columns */


/*--------------------------------------------------------------
  Widgets
--------------------------------------------------------------*/
/* Progress bars */


/* Tabs */


/* Accordion */


/* Tables */


/* Sidebar / Widget common*/


/* Icon List */


/* Posts */


/* Search */


/* Tags */


/*--------------------------------------------------------------
  Comment Box in Blog
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Client
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Shop Items
--------------------------------------------------------------*/


/* Shop item hover */


/* -------------------------------------------------------------------
  Exclusive products
------------------------------------------------------------------- */


/*--------------------------------------------------------------
  Shop Single Product
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Showcase Page
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Documentation Page
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Responsive Styles - Media Queries
--------------------------------------------------------------*/
@media (min-width: 768px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1050px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media only screen and (max-width: 480px) {
}



